{% extends 'core/base.html' %}

{% block page_css %}
  <style type="text/css">
    #project-contributors-list span {
        color: #999999;
    }
    #project-contributors-list .contributor-no-avatar {
        color: #333333;
        white-space: nowrap;    /* Breaking name messes with popover placement */
    }
    #project-contributors-list .contributor-no-avatar:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    #avatar_name {
        margin: 0 8px;
        width: 150px;
    }
    #avatar_image {
        border: none;
        padding: 1px;
        width: 230px;
    }
    .avatar-alias-button {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 20px;
        min-width: 30px;
        background: #DDDDDD;
        color: #000000;
        font-size: 12px;
        border-radius: 4px 0 0 0;
    }
    .avatar-alias-button.show-hover {
        opacity: 0;
    }
    .avatar-alias-button a {
        display: block;
    }
    .avatar-alias-button .fa.fa-plus {
        line-height: 20px;
    }
    .card:hover .avatar-alias-button.show-hover {
        opacity: 1;
    }
    .avatar-alias-button a:hover {
        cursor: pointer;
        text-decoration: none;
        opacity: 0.6;
    }
    .delete-avatar-alias-btn {
        line-height: 1rem;
        padding: 0 0 0 8px;
        vertical-align: baseline;
        display: none;
    }
    .avatar-alias-popover ul li:hover .delete-avatar-alias-btn {
        display: inline-block;
    }

    .avatar-alias-popover .popover-body {
        max-width: 250px;
        max-height: 120px;
        overflow: auto;
    }
    .avatar-alias-popover ul {
        padding-inline-start: 10px;
        margin-bottom: 0;
    }
    .avatar-alias-popover ul li {
        max-width: 200px;
    }
    .card {
        height: 115px;
        width: 115px;
        margin: auto;
    }
    .card .avatar-dropdown .dropdown-toggle {
        display: none;
        position: absolute;
        right: 0;
        padding: 2px 8px;
        color: #FFFFFF;
        height: 20px;
        line-height: 16px;
        border-radius: 0 0 0 4px;
        background: #333333;
    }
    .card .avatar-dropdown.show .dropdown-toggle,
    .card:hover .avatar-dropdown .dropdown-toggle {
        display: inline-block;
    }
    .card .avatar-dropdown .dropdown-menu {
        padding: 0;
        min-width: 8rem;
    }
    .card .avatar-dropdown .dropdown-item {
        font-size: 12px;
        cursor: pointer;
    }
    .card .avatar-dropdown .dropdown-item i.fa {
        width: 1rem;
    }
    .card .avatar-dropdown .dropdown-divider {
        margin: 0;
    }
    .card .ribbon {
        width: 64px;
        height: 64px;
        overflow: hidden;
        position: absolute;
    }
    .card .ribbon:before,
    .card .ribbon:after, {
        position: absolute;
        z-index: -1;
        content: '';
        display: block;
    }
    .card .ribbon span {
        position: absolute;
        display: block;
        width: 70px;
        padding: 0 0 0 2px;
        font-size: 0.7rem;
        font-weight: bold;
        color: #FFFFFF;
        background: #FF0000;
        user-select: none;
        text-transform: uppercase;
    }
    .card .ribbon.ribbon-top-right {
        top: 0px;
        right: 0px;
    }
    .card .ribbon-top-right span {
        left: 10px;
        top: 10px;
        transform: rotate(45deg);
    }
    #confirm-delete-avatar-name {
        margin-top: 0.5rem;
    }
    .avatar-upload-dropzone {
        width: 120px;
        height: 120px;
        min-height: auto;
        border: 6px dashed #007BFF;
        border-radius: 8px;
        cursor: pointer;
        overflow: hidden;
        padding: 0;
        background: #F1F1F1;
    }
    .avatar-upload-dropzone .dz-default {
        margin: 0;
        padding-top: 28px;
        line-height: 1.5rem;
        font-size: 1.2rem;
        color: #999999;
        user-select: none;
        pointer-events: none;
    }
    .avatar-upload-dropzone .dz-preview {
        margin: 8px 16px;
    }
    .avatar-upload-dropzone .dz-preview.dz-image-preview {
        background: none;
    }
    .avatar-upload-dropzone .dz-preview .dz-image {
        width: 70px;
        height: 70px;
        margin-left: 4px;
        text-align: center;
    }
    .avatar-upload-dropzone .dz-preview .dz-image:before {
        content: "";
        height: 70px;
        display: inline-block;
        vertical-align: middle;
    }
    .avatar-upload-dropzone .dz-preview .dz-image img {
        display: inline-block;
        vertical-align: middle;
    }
    .avatar-upload-dropzone .dz-preview .dz-details {

    }
    .avatar-upload-dropzone .dz-preview .dz-progress {
        top: 82%;
        left: 52%;
        width: 80px;
    }
    .avatar-upload-dropzone .dz-preview .dz-filename {
        display: none;
    }
    .avatar-upload-dropzone .dz-preview .dz-success-mark svg g > path {
        fill: #009900;
        stroke: #000000;
    }
    .avatar-upload-dropzone .dz-preview .dz-error-mark svg g > g {
        fill: #FF0000;
        stroke: #000000;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="main-container container">
    <div>
    {% if user_can_edit %}
      <div class="float-right" style="width:240px">
        <form id="new_avatar_upload" method="POST" action="{% if page_view == 'project_avatars' %}{% url 'api-project-useravatars-list' project.id %}{% else %}{% url 'api-useravatars-list' %}{% endif %}" class="form-inline" enctype="multipart/form-data">
          <input id="avatar_name" class="form-control form-control-sm" type="text" name="name" text="" placeholder="Name" style=""/>
          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
          <input id="avatar_image" class="form-control form-control-sm" type="file" name="image" />
          {% csrf_token %}
        </form>
      </div>
    {% endif %}
      <h3>
      {% if page_view == 'project_avatars' %}
        <small>
          <a href="{% url 'project-details' project.id %}">Project</a>
          &raquo;
        </small>
      {% else %}
        Global
      {% endif %}
        Avatars
      </h3>
      <div class="clearfix"></div>
      <hr />
    </div>

    <div class="row text-center">
    {% for avatar in page_obj %}
      <div class="card-container col-lg-2 col-md-2 mb-2">
        <div class="card">
        {% if user_can_edit %}
          {% if page_view == 'avatars' or page_view == 'project_avatars' and avatar.project_id %}
          <div class="avatar-dropdown dropdown">
            <a class="dropdown-toggle" role="button" title="{{ request.user.username }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu dropdown-menu-left">
              <!--<a class="dropdown-item change-avatar-btn"><i class="fa fa-pencil"></i> Change</a>-->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item delete-avatar-btn" data-avatar-id="{{ avatar.id }}" data-avatar-name="{{ avatar.name }}"{% if avatar.project_id %} data-project-id="{{ avatar.project_id }}"{% endif %}>
                <i class="fa fa-trash"></i> Delete
              </a>
            </div>
          </div>
          {% endif %}
        {% endif %}
          {% if page_view == 'project_avatars' and not avatar.project_id %}
          <div class="ribbon ribbon-top-right">
            <span title="This avatar was found in the global collection">GLOBAL</span>
          </div>
          {% endif %}
          {% if avatar.aliases_count > 0 or user_can_edit %}
          <div class="avatar-alias-button{% if avatar.aliases_count == 0 %} show-hover{% endif %}">
            <a title="{{ avatar.aliases_count }} additional aliases" data-avatar-id="{{ avatar.id }}" data-avatar-type="{{ avatar.AVATAR_TYPE }}">
              {% if avatar.aliases_count == 0 %}<i class="fa fa-plus"></i>{% else %}(+{{ avatar.aliases_count }}){% endif %}
            </a>
          </div>
          {% endif %}
        {% if avatar.image %}
          <img class="card-img-top" src="{{ avatar.image_url }}" alt="" style="height:auto;width:auto;max-height:100px;max-width:100px;margin:auto" />
        {% else %}
          <img class="card-img-top" src="/static/img/no-preview-185x100.png" alt="No Preview" />
        {% endif %}
        </div>
        <div class="card-body">
          <b class="card-title">{{ avatar.name }}</b>
          <small class="card-text text-muted">
          </small>
        </div>
      </div>
    {% empty %}
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h5 class="text-center text-muted"><i>No avatars yet</i></h5>
      </div>
    {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
      {% if contributors %}
        <hr />
        <h5>
          <i class="fa fa-user"></i> &nbsp;
          Project Contributors
        </h5>
        <p id="project-contributors-list">
      {% for name in contributors %}
        <span{% if user_can_edit and name not in avatar_names %} class="contributor-no-avatar" title="Add avatar for this user"{% endif %}>{{ name }}</span>{% if not forloop.last %},{% endif %}
      {% endfor %}
        </p>
      {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <nav aria-label="Avatar pages">
        {% if page_obj.has_other_pages %}
          <ul class="pagination" style="align-items: center; justify-content:center">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
              <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
              <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
        </nav>
      </div>
    </div>
  </div>
  <br />
<!-- Modal -->
<div class="modal" id="confirm-delete-avatar-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-avatar-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm-delete-avatar-title">Delete Avatar?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this avatar?
        <h4 id="confirm-delete-avatar-name" class="text-center"></h4>
        <div id="confirm-delete-avatar-image" class="text-center"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger confirm-delete">Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_js %}
  <script src="/static/js/pages/avatars.js"></script>
  <script type="text/javascript">
    const PROJECT_ID = {% if page_view == 'project_avatars' %}{{ project.id }}{% else %}null{% endif %};
    const UPLOAD_URL = "{% if page_view == 'project_avatars' %}{% url 'project-avatar-upload' project.id %}{% else %}{% url 'avatar-upload' %}{% endif %}";
    let avatars_list = [{% for avatar_json in avatars_json %}
        {{ avatar_json|safe }},{% endfor %}
    ];
    const CAN_USER_EDIT = {{ user_can_edit|lower }};
    $(document).ready(function() {
        "use strict";

        // Initialize page object
        App.pages.avatars.init(UPLOAD_URL, {
            project_id: PROJECT_ID,
            avatars_list: avatars_list,
            can_user_edit: CAN_USER_EDIT,
        });
    });
  </script>
{% endblock %}
