<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ document_title }}</title>

  <!--[if IE]><link rel="shortcut icon" href="/static/img/favicon.ico"><![endif]-->
  <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
  <link rel="apple-touch-icon-precomposed" href="/static/img/favicon.png">
  <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
  <link rel="icon" href="/static/img/favicon.png">

  <!-- Bootstrap core CSS -->
  <link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/lib/font-awesome.min.css" rel="stylesheet">
  <link href="/static/css/lib/bootstrap4-datetimepicker.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet">
  {% block page_css %}
  {% endblock %}

</head>
<body{% if body_min_padding %} class="min-padding"{% endif %}>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="navbar-logo" src="/static/img/topbar-logo.png" alt="Logo" />
        <span>{{ site_name }}</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% for nav_option in nav_options %}
          <li class="nav-item{% if nav_page == nav_option.0 %} active {% endif %}">
              <a class="nav-link"{% if nav_page != nav_option.0 %} href="{{ nav_option.2 }}"{% endif %}>{{ nav_option.1 }}{% if nav_page == nav_option.0 %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Jeff Gordon 2021</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/js/lib/jquery.min.js"></script>
  <script src="/static/js/lib/bootstrap.bundle.min.js"></script>
  <script src="/static/js/lib/underscore-min.js"></script>
  <script src="/static/js/lib/moment-with-locales.min.js"></script>
  <script src="/static/js/lib/moment-timezone-with-data-10-year-range.min.js"></script>
  <script src="/static/js/lib/bootstrap4-datetimepicker.min.js"></script>
  <script src="/static/js/utils.js"></script>
  {% block page_js %}
  {% endblock %}
</body>
</html>
