<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Build Queue - Gource Studio</title>

  <!--[if IE]><link rel="shortcut icon" href="/static/img/favicon.ico"><![endif]-->
  <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
  <link rel="apple-touch-icon-precomposed" href="/static/img/favicon.png">
  <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
  <link rel="icon" href="/static/img/favicon.png">

  <!-- Bootstrap core CSS -->
  <link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/custom.css" rel="stylesheet">

  <style type="text/css">
    .project-build-status-container {
        display: flex;
        flex-wrap: nowrap;
    }
    .project-build-status-container > .status-container {
        flex-basis: 7rem;
        flex-grow: 1;
        border-radius: .25rem 0 0 .25rem;
    }
    .project-build-status-container > .content-container {
        flex-basis: 0;
        flex-grow: 999;
        border-left: 1px solid rgba(0,0,0,0.125);
        overflow: auto;
    }
    .project-build-status-container > .content-container .card-header {
        padding:.25rem 1.25rem;
    }
  </style>

</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="navbar-logo" src="/static/img/topbar-logo.png" alt="Logo" />
        <span>Gource Studio</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/new/">New Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects/">Projects</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">Queue
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <h3>Build Queue</h3>
    <hr />
  </div>

  <div class="container">
    <div class="row text-center">
    {% for build in page_obj %}
      <div class="project-build-panel col-lg-12 col-md-12 mb-12">
        <div class="project-build-status card mb-3">
          <div class="project-build-status-container">
          {% if build.status == "pending" %}
            <div class="status-container bg-light">
          {% elif build.status == "queued" %}
            <div class="status-container bg-light">
          {% elif build.status == "running" %}
            <div class="status-container bg-primary text-white">
          {% elif build.status == "completed" %}
            <div class="status-container bg-success text-white">
          {% elif build.status == "error" %}
            <div class="status-container bg-danger text-white">
          {% endif %}
              <div class="" style="line-height:73px">
                {{ build.status|capfirst }}
              </div>
            </div>
            <div class="content-container">
              <div class="card-header">
                <h5 class="card-title text-left" style="margin-bottom:0">
                 <small class="float-right">
                    {{ build.created_at }}
                  </small>
                  <a href="{% url 'project-details' build.project.id %}">
                    {{ build.project.name }}
                  </a>
                  <small>
                  {% if build.id != latest_build.id %}
                    (Build ID = {{build.id}})
                  {% endif %}
                  </small>
                </h5>
              </div>
              <div class="card-body" style="padding:10px">
                <p class="card-text" style="font-size:12px; text-align:left;">
                {% if build.error_description %}{{ build.error_description }}{% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h5 class="text-center text-muted"><i>No builds yet</i></h5>
      </div>
    {% endfor %}
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <nav aria-label="Build Queue pages">
            {% if page_obj.has_other_pages %}
              <ul class="pagination" style="align-items: center; justify-content:center">
                {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
            </nav>
        </div>
    </div>
    <br />
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Jeff Gordon 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/js/lib/jquery.min.js"></script>
  <script src="/static/js/lib/bootstrap.bundle.min.js"></script>

</body>
</html>
