<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Gource Studio - Generate Video Timelines of Software Projects</title>

  <!--[if IE]><link rel="shortcut icon" href="/static/img/favicon.ico"><![endif]-->
  <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
  <link rel="apple-touch-icon-precomposed" href="/static/img/favicon.png">
  <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
  <link rel="icon" href="/static/img/favicon.png">

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/custom.css" rel="stylesheet">

  <style type="text/css">
    body {
      padding-top: 56px;
    }
  </style>

</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <span class="navbar-brand">
        <img class="navbar-logo" src="/static/img/topbar-logo.png" alt="Logo" />
        <span>Gource Studio</span>
      </span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/new/">New Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects/">Projects</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/queue/">Queue</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Your Project in Bloom!</h1>
      <div class="float-right d-none d-lg-block">
        <img src="/static/img/gource-studio-logo.png" alt="Main Logo" style="width:150px"/>
      </div>
      <p class="lead">
          Gource Studio helps create stunning videos of your software development projects.
          <br />
          <div style="font-size:90%">
          Built using <a href="https://gource.io" target="_blank">Gource</a>, <a href="https://ffmpeg.org" target="_blank">ffmpeg</a>, and other open source software.
          </div>
      </p>
      <a href="{% url 'new-project' %}" class="btn btn-primary btn-lg">Get Started</a>
      <div class="clearfix"></div>
    </header>

    <h3>Latest Builds</h3>
    <hr />

    <!-- Page Features -->
    <div class="row text-center">
    {% for project in projects %}
      {% with latest_build=project.latest_build %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <a href="{% url 'project-details' project.id %}">
          {% if latest_build.thumbnail %}
            <img class="card-img-top" src="{% url 'project-build-thumbnail' project.id latest_build.id %}" alt="" style=""/>
          {% else %}
            <img class="card-img-top" src="https://via.placeholder.com/185x100/D0D0D0/808080?text=No Preview" alt="No Preview" />
          {% endif %}
          </a>
          <div class="card-body">
              <h4 class="card-title">{{ project.name }}</h4>
              <p class="card-text"><!-- Card Text --></p>
          </div>
          <div class="card-footer">
              <a href="{% url 'project-details' project.id %}" class="btn btn-primary">Watch Video</a>
          </div>
        </div>
      </div>
      {% endwith %}
    {% empty %}
      <div class="col-lg-12 col-md-12 col-sm-12">
          <h5 class="text-center text-muted"><i>No projects yet</i></h5>
      </div>
    {% endfor %}
    </div>
    <!-- /.row -->

    <br />
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Jeff Gordon 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>

</body>
</html>
