{% extends 'core/base.html' %}

{% block content %}
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Your Project in Bloom!</h1>
      <div class="float-right d-none d-lg-block">
        <img src="/static/img/gource-studio-logo.png" alt="Main Logo" style="width:150px"/>
      </div>
      <p class="lead">
          Gource Studio helps create stunning videos of your software development projects.
          <br />
          <div style="font-size:90%">
          Built using <a href="https://gource.io" target="_blank">Gource</a>, <a href="https://ffmpeg.org" target="_blank">ffmpeg</a>, and other open source software.
          </div>
      </p>
      <a href="{% url 'new-project' %}" class="btn btn-primary btn-lg">Get Started</a>
      <div class="clearfix"></div>
    </header>

    <h3>Latest Builds</h3>
    <hr />

    <!-- Page Features -->
    <div class="row text-center">
    {% for project in projects %}
      {% with latest_build=project.latest_build %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <a href="{% url 'project-details' project.id %}">
          {% if latest_build.thumbnail %}
            <img class="card-img-top" src="{% url 'project-build-thumbnail' project.id latest_build.id %}" alt="" style=""/>
          {% else %}
            <img class="card-img-top" src="https://via.placeholder.com/185x100/D0D0D0/808080?text=No Preview" alt="No Preview" />
          {% endif %}
          </a>
          <div class="card-body">
              <h4 class="card-title">{{ project.name }}</h4>
              <p class="card-text"><!-- Card Text --></p>
          </div>
          <div class="card-footer">
              <a href="{% url 'project-details' project.id %}" class="btn btn-primary">Watch Video</a>
          </div>
        </div>
      </div>
      {% endwith %}
    {% empty %}
      <div class="col-lg-12 col-md-12 col-sm-12">
          <h5 class="text-center text-muted"><i>No projects yet</i></h5>
      </div>
    {% endfor %}
    </div>
    <!-- /.row -->

    <br />
  </div>
{% endblock %}
