{% extends "core/base.html" %}

{% block page_css %}
  <style type="text/css">
    .form-check {
        margin-top: 8px;
        padding-left: 40px;
    }
    .form-description {
        padding-left: 40px;
        font-size: 0.7rem;
        color: #999999;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="main-container container">
    <h2 class="text-center">New Project</h2>
    <br />
    <!-- Project Name -->
    <div class="input-group" style="width:600px">
      <div class="input-group-prepend">
        <div class="input-group-text text-right" style="display:inline-block;width:120px">Name:</div>
      </div>
      <input type="text" id="project-name-input" name="project_name" class="form-control" value="" />
    </div>
    <br />
    <!-- Project URL -->
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text text-right" style="display:inline-block;width: 120px">Project URL:</div>
      </div>
      <input type="text" id="project-url-input" name="project_url" class="form-control" placeholder="http://..." />
    </div>
    <div class="form-description">
      This is optional but provides link to repository for users (even if login is required).
    </div>
    <!-- Remote project settings (if URL provided) -->
    <div class="form-check">
      <input type="checkbox" id="project-url-active" class="form-check-input" checked="checked" />
      <label for="project-url-active" class="form-check-label">Enable Project Download</label>
      <span style="padding-left:12px;" data-toggle="popover" data-trigger="hover" data-content="This will allow for the server to remotely fetch the VCS log to generate videos.">
        <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="form-check">
      <input type="checkbox" id="project-initial-captions-from-tags" class="form-check-input" checked="checked" />
      <label for="project-initial-captions-from-tags" class="form-check-label">Load Captions From Tags</label>
      <span style="padding-left:12px;" data-toggle="popover" data-trigger="hover" data-content="This will load VCS tags from the project and add them as video captions.">
        <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <hr />
    <!-- VCS / Branch options -->
    <div class="input-group" style="width:250px">
      <div class="input-group-prepend">
        <div class="input-group-text text-right" style="display:inline-block;width: 120px">VCS:</div>
      </div>
      <select id="project-vcs-select" name="project_vcs" class="form-control">
        <option value="git">Git</option>
        <option value="hg">Mercurial</option>
      </select>
    </div>
    <br />
    <div class="input-group" style="width:400px">
      <div class="input-group-prepend">
        <div class="input-group-text text-right" style="display:inline-block;width: 120px">Branch:</div>
      </div>
      <input type="text" id="project-branch-input" name="project_branch" class="form-control" value="master" />
    </div>
    <div class="form-check">
      <input type="checkbox" id="set-project-public" class="form-check-input" checked="checked" />
      <label for="set-project-public" class="form-check-label">Make Project Public</label>
      <span style="padding-left:12px;" data-toggle="popover" data-trigger="hover" data-content="This will make the project publicly visible to all users.">
        <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <br />
    <div class="text-center">
      <button id="save-project-btn" class="btn btn-lg btn-success">
        <i class="fa fa-plus"></i>
        Create Project
      </button>
    </div>
    <div id="new-project-errors"></div>
    <br />
  </div>
{% endblock %}

{% block page_js %}
  <script src="/static/js/pages/new_project.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        "use strict";

        // Initialize page object
        App.pages.new_project.init({});
    });
  </script>
{% endblock %}
