{% extends "core/base.html" %}

{% block page_css %}
  <style type="text/css">
    .form-check {
        margin-top: 8px;
        padding-left: 40px;
    }
    .form-description {
        padding-left: 40px;
        font-size: 0.7rem;
        color: #999999;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="main-container container">
    <h2 class="text-center">New Project</h2>
    <br />
    <!-- Project Name -->
    <div class="input-group" style="width:600px">
      <div class="input-group-prepend">
        <div class="input-group-text text-right" style="display:inline-block;width:120px">Name:</div>
      </div>
      <input type="text" id="project-name-input" name="project_name" class="form-control" value="" />
    </div>
    <br />
    <!-- Project URL -->
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text text-right" style="display:inline-block;width: 120px">Project URL:</div>
      </div>
      <input type="text" id="project-url-input" name="project_url" class="form-control" placeholder="http://..." />
    </div>
    <div class="form-description">
      This is optional but provides link to repository for users (even if login is required).
    </div>
    <!-- Remote project settings (if URL provided) -->
    <div class="form-check">
      <input type="checkbox" id="project-url-active" class="form-check-input" checked="checked" />
      <label for="project-url-active" class="form-check-label">Enable Project Download</label>
      <span style="padding-left:12px;" data-toggle="popover" data-trigger="hover" data-content="This will allow for the server to remotely fetch the VCS log to generate videos.">
        <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="form-check">
      <input type="checkbox" id="project-initial-captions-from-tags" class="form-check-input" checked="checked" />
      <label for="project-initial-captions-from-tags" class="form-check-label">Load Captions From Tags</label>
      <span style="padding-left:12px;" data-toggle="popover" data-trigger="hover" data-content="This will load VCS tags from the project and add them as video captions.">
        <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <hr />
    <!-- VCS / Branch options -->
    <div class="input-group" style="width:250px">
      <div class="input-group-prepend">
        <div class="input-group-text text-right" style="display:inline-block;width: 120px">VCS:</div>
      </div>
      <select id="project-vcs-select" name="project_vcs" class="form-control">
        <option value="git">Git</option>
        <option value="hg">Mercurial</option>
      </select>
    </div>
    <br />
    <div class="input-group" style="width:400px">
      <div class="input-group-prepend">
        <div class="input-group-text text-right" style="display:inline-block;width: 120px">Branch:</div>
      </div>
      <input type="text" id="project-branch-input" name="project_branch" class="form-control" value="master" />
    </div>
    <div class="form-check">
      <input type="checkbox" id="set-project-public" class="form-check-input" checked="checked" />
      <label for="set-project-public" class="form-check-label">Make Project Public</label>
      <span style="padding-left:12px;" data-toggle="popover" data-trigger="hover" data-content="This will make the project publicly visible to all users.">
        <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <br />
    <div class="text-center">
      <button id="save-project-btn" class="btn btn-lg btn-success">
        <i class="fa fa-plus"></i>
        Create Project
      </button>
    </div>
    <div id="new-project-errors"></div>
    <br />
  </div>
{% endblock %}

{% block page_js %}
  <script type="text/javascript">
    // Listen for VCS option changes
    $('body').on('change', '#project-vcs-select', function(e) {
        // Change 'branch' default input if VCS is changed
        if ($(e.currentTarget).val() == 'hg') {
            // Mercurial
            $('#project-branch-input').val('default');
        } else {
            // Git
            $('#project-branch-input').val('master');
        }
    });

    // Save project
    $('body').on('click', '#save-project-btn', function(e) {
        console.log('save');
        let project_name = ($('#project-name-input').val() || "").trim();
        let project_url = ($('#project-url-input').val() || "").trim();
        let project_vcs = ($('#project-vcs-select').val() || "").trim();
        let project_branch = ($('#project-branch-input').val() || "").trim();
        let load_initial_tags = $('#project-initial-captions-from-tags').is(':checked');
        let project_is_public = $('#set-project-public').is(':checked');
        let project_url_active = $('#project-url-active').is(':checked');

        // Clear errors
        $('.is-invalid').removeClass('is-invalid');

        // Validate fields
        let has_errors = false;
        if (project_name == "") {
            has_errors = true;
            $('#project-name-input').addClass('is-invalid');
        }
        if (project_url != "" && !project_url.indexOf('http') == 0) {
            has_errors = true;
            $('#project-url-input').addClass('is-invalid');
        }
        if (project_url == "") {
            project_url_active = false;
        }
        if (project_vcs == "") {
            has_errors = true;
            $('#project-vcs-select').addClass('is-invalid');
        }
        if (project_branch == "" || project_branch.indexOf(' ') > -1) {
            has_errors = true;
            $('#project-branch-input').addClass('is-invalid');
        }
        if (has_errors) {
            return false;
        }

        let post_data = {
            'name': project_name,
            'project_url': project_url,
            'project_url_active': project_url_active,
            'project_vcs': project_vcs,
            'project_branch': project_branch,
            'is_public': project_is_public,
        };
        if (project_url_active && load_initial_tags) {
            post_data['load_captions_from_tags'] = true;
        }
        console.log('POST DATA: ',post_data);
        $('#new-project-errors').text('');
        $('#save-project-btn').attr({disabled: true})
                              .prepend('<i class="fa fa-spin fa-spinner"></i>');
        $.ajax({
            url: "/api/v1/projects/",
            method: 'POST',
            data: JSON.stringify(post_data),
            contentType: "application/json",
            dataType: "json",
            beforeSend: function(xhr) {
                // Attach CSRF Token
                xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
            },
            success: function(data, textStatus, xhr) {
                // TODO show success message
                console.log("Project saved successfully.");
                // Redirect to new project page
                window.location = '/projects/'+data.id+'/';
            },
            error: function(xhr, textStatus, err) {
                // Error
                console.log("Save error: "+err, xhr);
                $('#save-project-btn').attr({disabled: false}).find('i.fa.fa-spin').remove();
                // Show error message
                if (xhr.responseJSON) {
                    for (let key in xhr.responseJSON) {
                        $('#new-project-errors').text(xhr.responseJSON[key]);
                    }
                }
            }
        });
    });
    $('span[data-toggle="popover"]').popover();
  </script>
{% endblock %}
