{% extends 'core/base.html' %}

{% block page_css %}
  <style type="text/css">
    #project-video-container {
        text-align: center;
        background: #000000;
    }
    #project-video-container .project-video-empty {
        max-height: 80vh;
        height: 600px;
        color: #FFFFFF;
        vertical-align: middle;
        padding: 230px 0;
        line-height: 36px;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .project-video {
        max-height: 80vh;
        width: 100%;
    }
    .playlist-project-link-btn {
        color: #333333;
    }
    .playlist-project-link-btn:hover {
        text-decoration: underline;
    }
    #current-playlist-title a {
        font-weight: bold;
        max-width: 47%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #playlist-prev-container,
    #playlist-next-container {
        background: rgba(0, 0, 0, 0.7);
        color: #FFFFFF;
        width: 200px;
        min-height: 1px;
    }
    #playlist-prev-container a,
    #playlist-next-container a {
        display: inline-block;
        padding: 8px 12px;
        color: #FFFFFF;
        width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
  @media(max-width: 751px) {
    #current-playlist-title a {
        max-width: 37%;
    }
    #playlist-prev-container,
    #playlist-next-container {
        width: 170px;
    }
    #playlist-prev-container a,
    #playlist-next-container a {
        font-size: 0.7em;
        width: 170px;
        padding: 6px 10px;
    }
  }
  @media(max-width: 577px) {
    #current-playlist-title a {
        max-width: 30%;
    }
    #playlist-prev-container,
    #playlist-next-container {
        width: 150px;
    }
    #playlist-prev-container a,
    #playlist-next-container a {
        font-size: 0.7em;
        width: 150px;
        padding: 6px 10px;
    }
  }
    #playlist-prev-container a:hover,
    #playlist-next-container a:hover {
        text-decoration: none;
        opacity: 0.8;
    }
    #playlist-prev-container a::before {
        content: '«';
        float: left;
        padding-right: 4px;
    }
    #playlist-next-container a::before {
        content: '»';
        float: right;
        padding-left: 4px;
    }
    #playlist-prev-container {
        border-radius: 0 0 8px 0;
    }
    #playlist-next-container {
        text-align: right;
        border-radius: 0 0 0 8px;
    }
  </style>
{% endblock %}

{% block content %}
  <div id="project-video-container">
    <video id="playlist-video-player" class="project-video" controls preload="metadata">
      <source type="video/mp4">
    </video>
    <div class="project-video-empty" style="display:none">
      <div>No video available.</div>
    </div>
  </div>

  <div id="playlist-details-container">
    <div id="playlist-prev-container" class="float-left"></div>
    <div id="playlist-next-container" class="float-right"></div>
    <div id="current-playlist-title" class="justify-content-center text-center"></div>
  </div>
  <!-- /.container -->

  <hr />
  <br />
{% endblock %}

{% block page_js %}
  <script src="/static/js/pages/playlist.js"></script>
  <script type="text/javascript">
    const PLAYLIST_ID = {{ playlist.id }};
    const PLAYLIST_URL = "{% url 'user-playlist-details' playlist.id %}";
    const PLAYLIST_CURRENT_INDEX = {{ index }};
    // Current playlist contents
    let PLAYLIST_CONTENTS = [{% for playlist_json in playlist_projects_json %}
        {{ playlist_json|safe }},{% endfor %}
    ];

    $(document).ready(function() {
        "use strict";

        // Initialize page object
        App.pages.playlist.init(PLAYLIST_ID, PLAYLIST_URL, {
            initial_index: PLAYLIST_CURRENT_INDEX,
            playlist_contents: PLAYLIST_CONTENTS,
        });
        if (PLAYLIST_CONTENTS.length > 0) {
            App.pages.playlist.play_video_at_index(PLAYLIST_CURRENT_INDEX, {
                delay: 0,
                force: true,
                autoplay: false,
            });
        } else {
            // No projects in playlist
            $('.project-video-empty').text('No projects in playlist.').show();
        }
    });
  </script>
{% endblock %}
