{% extends 'core/base.html' %}

{% block page_css %}
  <style type="text/css">
    .card-text .latest-project-build > em {
        padding-right: 8px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="main-container container">
    <div>
      <h3 class="float-left" style="margin-right:40px">Projects List</h3>
      <form action="{% url 'projects' %}" method="GET" class="projects-search-container" style="display:inline-block; width: 600px;">
        <div class="input-group">
          <input type="text" name="search" class="form-control projects-search" placeholder="Name, URL, ..." value="{{ search|default_if_none:"" }}" />
          <div class="input-group-append">
            <button class="btn btn-default btn-outline-secondary" type="button">Search</button>
          </div>
        </div>
      </form>
      <hr />
    </div>

    <!-- Page Features -->
    <div class="row text-center">
    {% for conf in page_obj %}
      {% with latest_build=conf.latest_build %}
      <div class="col-lg-12 col-md-12 mb-12">
        <div class="projects-list card mb-3">
          <div class="row no-gutters project-item-container">
            <div class="status-container col-md-2">
              <a href="{% url 'project-details' conf.id %}">
              {% if latest_build.thumbnail %}
                <img class="card-img-top" src="{% url 'project-build-thumbnail' conf.id latest_build.id %}" alt="" style=""/>
              {% else %}
                <img class="card-img-top" src="https://via.placeholder.com/185x100/D0D0D0/808080?text=No Preview" alt="No Preview" />
              {% endif %}
              </a>
            </div>
            <div class="content-container col-md-10">
              <div class="card-header">
              {% if latest_build.build_audio_name %}
                <div class="float-right text-muted" style="padding: 0 8px;">
                  <i class="fa fa-volume-up" title="Contains background audio"></i>
                </div>
              {% endif %}
                <h5 class="card-title text-left" style="margin-bottom:0">
                  <a href="{% url 'project-details' conf.id %}">
                  {% if conf.name %}
                    {{ conf.name }}
                  {% else %}
                    <em class="text-muted">No Name</em>
                  {% endif %}
                  </a>
                </h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  <small class="latest-project-build float-right">
                    <b>Latest Build:</b>
                  {% if latest_build and latest_build.completed_at %}
                    <br />
                    {{ latest_build.completed_at }}
                  {% else %}
                    <em class="text-muted">N/A</em>
                  {% endif %}
                  </small>
                </p>
                <!-- Card Text --></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endwith %}
    {% empty %}
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h5 class="text-center text-muted">
        {% if search %}
          <i>No projects found</i>
        {% else %}
          <i>No projects yet</i>
        {% endif %}
        </h5>
      </div>
    {% endfor %}
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <nav aria-label="Project pages">
        {% if page_obj.has_other_pages %}
          <ul class="pagination" style="align-items: center; justify-content:center">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
              <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
              <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
        </nav>
      </div>
    </div>
    <!-- /.row -->
    <br />
  </div>
{% endblock %}
