{% extends 'core/base.html' %}
{% load duration %}

{% block page_css %}
{% endblock %}

{% block content %}
  {% with latest_build=project.latest_build %}
  <div class="main-container container">
  {% if user_can_edit %}
    <div class="float-right">
      <button class="btn btn-primary queue-project-build-btn" title="Queue a new video build">
        <i class="fa fa-plus"></i>
        Queue Build
      </button>
    </div>
  {% endif %}
    <h3>
      <small>
        <a href="{% url 'project-details' project.id %}">Project</a>
        &raquo;
      </small>
      Builds
    </h3>
    <hr />
  </div>

  <div class="container">
    <div class="row text-center">
    {% for build in page_obj %}
      <div class="project-build-panel col-lg-12 col-md-12 mb-12">
        <div class="project-build-status card mb-3">
          <div class="project-build-status-container project-item-container">
          {% if build.status == "pending" %}
            <div class="status-container bg-light">
          {% elif build.status == "queued" %}
            <div class="status-container bg-light">
          {% elif build.status == "canceled" %}
            <div class="status-container bg-danger text-white">
          {% elif build.status == "running" %}
            <div class="status-container bg-primary text-white">
          {% elif build.status == "aborted" %}
            <div class="status-container bg-danger text-white">
          {% elif build.status == "completed" %}
            <div class="status-container bg-success text-white">
          {% elif build.status == "errored" %}
            <div class="status-container bg-danger text-white">
          {% else %}
            <div class="status-container bg-light">
          {% endif %}
              <div class="">
                {{ build.status|capfirst }}
              </div>
              <div class="build-stage-container">
              {% if build.status == "running" %}
                <i class="fa fa-spin fa-spinner"></i>
              {% endif %}
              </div>
            </div>
            <div class="content-container">
              <div class="card-header">
              {% if build.build_audio_name %}
                <div class="float-right text-muted" style="padding: 0 8px 0 0; margin-left:-8px;">
                  <i class="fa fa-volume-up" title="Contains background audio"></i>
                </div>
              {% endif %}
                <h5 class="card-title text-left" style="margin-bottom:0">
                  <small class="build-time-notice float-right">
                    {{ build.created_at }}
                  </small>
                  <a href="{% url 'project-build-details' build.project.id build.id %}">
                  {% if build.project.name %}
                    {{ build.project.name }}
                  {% else %}
                    <em class="text-muted">No Name</em>
                  {% endif %}
                  </a>
                  <small>
                  {% if build.id == latest_build.id %}
                    (Latest Build)
                  {% else %}
                    (Build ID = {{build.id}})
                  {% endif %}
                  </small>
                </h5>
              </div>
              <div class="card-body">
            {% if user_can_edit %}
              {% if build.is_finished %}
                <div class="float-right">
                    <a class="btn btn-link delete-build-btn text-danger" data-project-id="{{ project.id }}" data-build-id="{{ build.id }}"><i class="fa fa-trash"></i> DELETE</a>
                </div>
              {% elif build.status == 'pending' or build.status == 'queued' or build.status == 'running' %}
                <div class="float-right">
                  {% if build.status == 'running' %}
                    <a class="btn btn-link abort-build-btn text-danger" data-project-id="{{ project.id }}" data-build-id="{{ build.id }}">
                        <i class="fa fa-ban"></i> ABORT
                    </a>
                  {% else %}
                    <a class="btn btn-link cancel-build-btn text-danger" data-project-id="{{ project.id }}" data-build-id="{{ build.id }}">
                        <i class="fa fa-times"></i> CANCEL
                    </a>
                  {% endif %}
                </div>
              {% endif %}
            {% endif %}
                <p class="card-text">
                {% if build.error_description %}
                  {{ build.error_description }}
                {% else %}
                  {% if build.duration %}
                  <b>Duration:</b>
                  {{ build.duration|duration }}
                  {% endif %}
                  {% if build.size %}
                  <b style="margin-left:20px">Size:</b>
                  <span title="{{ build.size }} bytes">{{ build.size|filesizeformat }}</span>
                  {% endif %}
                {% endif %}
                {% if build.status == 'running' %}
                <div class="build-progress-container">
                  <div class="progress" title="{{ build.build_stage_percent }}%{% if build.running_at %} -- Build Time: {{ build.current_build_duration|duration }}{% endif %}">
                    <div class="progress-bar" style="width: {{ build.build_stage_percent }}%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                {% if build.build_stage_information.0 and build.current_build_message %}
                  <div>
                    <b>Stage {{ build.build_stage_information.0 }}/{{ build.build_stage_information.1 }}:</b>
                    {{ build.current_build_message }}
                  </div>
                {% endif %}
                </div>
                {% endif %}
                {% if build.completed_at %}
                  <br />
                  <b>Build Time:</b> {{ build.get_build_duration|duration }}
                {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h5 class="text-center text-muted"><i>No builds yet</i></h5>
      </div>
    {% endfor %}
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <nav aria-label="Build Queue pages">
            {% if page_obj.has_other_pages %}
              <ul class="pagination" style="align-items: center; justify-content:center">
                {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                  {% if page_obj.number == i %}
                  <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                  <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
            </nav>
        </div>
    </div>
    <br />
  </div>

  <div id="queue-project-build-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Project Build</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
          {% if project.project_url_active %}
            <input id="queue_project_build_refetch_log" type="checkbox" checked="checked" />
            <label for="queue_project_build_refetch_log">Download new project log</label>
          {% else %}
            <input id="queue_project_build_refetch_log" type="checkbox" disabled="disabled"/>
            <label for="queue_project_build_refetch_log" class="text-muted">Download new project log</label>
          {% endif %}
          </div>
          <div class="error-message text-center text-danger"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Queue Build</button>
        </div>
      </div>
    </div>
  </div>
  {% endwith %}
{% endblock %}

{% block page_js %}
  <script src="/static/js/pages/project_builds.js"></script>
  <script type="text/javascript">
    const PROJECT_ID = {{ project.id }};
    const CAN_USER_EDIT = {{ user_can_edit|lower }};
    $(document).ready(function() {
        "use strict";

        // Initialize page object
        App.pages.project_builds.init(PROJECT_ID, {
            can_user_edit: CAN_USER_EDIT,
        });
    });
  </script>
{% endblock %}
