{% extends 'core/base.html' %}

{% block page_css %}
  <style type="text/css">
    #gource-settings-container .form-group,
    #project-captions-list .form-group {
        margin-bottom: 0;
    }
    .bootstrap-datetimepicker-widget {
        font-size: 0.8em;
    }
    .bootstrap-datetimepicker-widget table td.day {
        padding: .3em .5em;
    }
    .bootstrap-datetimepicker-widget table td,
    .bootstrap-datetimepicker-widget table th {
        padding: .5em 0;
    }
    .nav-link.active {
        font-weight: bold;
    }

    .nav-link > .fa.fa-external-link {
        font-size: 0.75em;
    }
    .project-nav-topbar .nav-link.active {
        border-bottom: 1px solid #CCCCCC;
    }
    .project-nav-topbar li.nav-item:not(:first-child) {
        border-left: 1px solid #EEEEEE;
    }
    .project-nav-sidebar {
        white-space: nowrap;
    }
    .project-nav-sidebar .nav-link.active::before {
        content: "❮";
        margin-left: -14px;
        padding-right: 6px;
    }
    .project-video {
        max-height: 80vh;
        width: 100%;
    }
    .project-nav-topbar {
        border-bottom: 1px solid #CCCCCC;
        margin-bottom: 12px;
    }
    #project-captions-list {
        max-height: 400px;
        overflow-y: auto;
    }
    #project-captions-list input.gource-caption-datetimepicker {
        border-radius: .2rem 0 0 .2rem;
        background: #F9F9F9;
    }
    #project-captions-list input.gource-caption-text {
        border-radius: 0 .2rem .2rem 0;
    }
  </style>
{% endblock %}

{% block content %}
  {% with latest_build=project.latest_build %}
  <div style="text-align:center; background:#000000;">
  {% if build.content %}
    <video class="project-video" controls poster="{% url 'project-build-screenshot' project.id build.id %}" preload="metadata">
      <source src="{% url 'project-build-video' project.id build.id %}" type="video/mp4">
    </video>
  {% else %}
    <div style="max-height:80vh;height:600px;color:#FFFFFF;vertical-align:middle;line-height:600px">
        No video available.
    </div>
  {% endif %}
  </div>
  <div class="container">
    <div class="row d-md-none">
      <div class="col-12">
        <!-- Nav topbar (mobile) -->
        <ul class="project-nav-topbar nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="#project-details-pane" data-toggle="tab" role="tab">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#project-settings-pane" data-toggle="tab" role="tab">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#project-captions-pane" data-toggle="tab" role="tab">Captions</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'project-avatars' project.id %}">Avatars <i class="fa fa-external-link"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'project-builds' project.id %}">Builds <i class="fa fa-external-link"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>

      <div class="col-10">
        <!-- Project details -->
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-12">
              <b>{{ project.project_url }}</b>
              {% if build.content %}
              <a class="btn btn-link" href="{% url 'project-build-video' project.id build.id %}" download="video-{{ build.id }}.mp4" title="Download video ({{ build.content.size|filesizeformat }})"$>
                <i class="fa fa-download"></i>
              </a>
              {% endif %}
            </div>
          </div>
<div class="tab-content" id="project-tab-content">
  <div class="tab-pane show active" id="project-details-pane" role="tabpanel">
          {% if project.project_log_commit_hash %}
          <div class="row justify-content-center text-center">
            <div class="col-12">
            {% if build.project_log %}
              <a class="btn btn-link" href="{% url 'project-build-project-log' project.id build.id %}" download="project.log">
                <i class="fa fa-file-text-o"></i>
              </a>
            {% elif project.project_log %}
              <a class="btn btn-link" href="{% url 'project-project-log' project.id %}" download="project.log">
                <i class="fa fa-file-text-o"></i>
              </a>
            {% endif %}
              <b>Last Commit:</b>
              <span title="{{ project.project_log_commit_time|date:"M j, Y H:i:s T" }}">
                [{{ project.project_log_commit_time|date:"M j, Y" }}]
              </span>
              {{ project.project_log_commit_preview }}
            </div>
          </div>
          {% endif %}
          <hr />

          <div class="row justify-content-center text-center">
            <div class="col-6">
              <b>Created:</b> {{ project.created_at|date:"M j, Y H:i:s T" }}
            </div>
            <div class="col-6">
            {% if build %}
              <b>Last Updated:</b> {{ build.created_at|date:"M j, Y H:i:s T" }}
            {% endif %}
            </div>
          </div>
          {% if latest_build and build.id != latest_build.id %}
          <div class="row justify-content-center text-center">
            <div class="col-12">
                <i><a href="{% url 'project-details' project.id %}">See Latest Build</a></i>
            </div>
          </div>
          {% endif %}
  </div>
  <div class="tab-pane" id="project-settings-pane" role="tabpanel">
    <hr />
    <div class="float-right">
      <button class="btn btn-success save-project-settings-btn"><i class="fa fa-disk"></i> Save</button>
    </div>
    <h5>Video Settings</h5>
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="form-group form-inline">
            <label for="project-video-size"><b>Video Size:</b>&nbsp;</label>
            <select id="project-video-size" name="project-video-size" class="form-control form-control-sm">
              <option value="1280x720">1280 x 720</option>
              <option value="1920x1080">1920 x 1080</option>
              <option value="3840x2160">3840 x 2160</option>
            </select>
          </div>

          {% if project.build_audio %}
          <div class="float-right">
            <button class="btn btn-xs btn-success remix-audio-btn">Remix Audio</button>
          </div>
          {% endif %}
          <div class="form-group">
            <b>Background Audio:</b>
          {% if project.build_audio %}
            {{ project.build_audio_name }}
            <a class="btn btn-link edit-audio-file"><i class="fa fa-pencil"></i></a>
          {% endif %}
            <form id="project_build_audio_file_form" method="POST" action="{% url 'project-audio-upload' project.id %}" class="form-inline" enctype="multipart/form-data"{% if project.build_audio %} style="display:none"{% endif %}>
                <input id="project_build_audio_file" class="form-control form-control-file form-control-sm" type="file" name="build_audio" style="display:inline-block; width:auto;"/>
                <button type="submit" class="btn btn-primary btn-sm">Upload</button>
                {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    <hr />
    <div>
      <h5 class="float-left" style="padding-right: 36px">Gource Settings</h5>
      <div id="gource-duration-estimate-container">
          <small>Estimated Duration:</small>
          <span id="gource-duration-estimate">-</span>
      </div>
    </div>
    <div class="clearfix"></div>
    <div id="gource-settings-region">
      <div id="gource-settings-container">
          <gource-option-edit v-for="option in options_selected"
                              v-on:remove-gource-option="removeOption(option.name)"
                              v-on:change:value="updateValue(option, $event)"
                              v-bind:key="option.name"
                              v-bind="option"></gource-option-edit>
      </div>
      <div id="project-gource-options-container" class="form-group gource-option-container" style="display:flex; width:100%;">
        <div class="input-group" style="width:305px">
          <select id="gource-new-option-selector" class="form-control form-control-sm">
            <option value="">-- Choose a Setting --</option>
            <option is="gource-option-select"
                    v-for="option in options_available"
                    v-bind:key="option.name"
                    v-bind="option"></option>
          </select>
          <div class="input-group-append">
            <button id="add-gource-option-btn" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add Option</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="project-captions-pane" class="tab-pane" role="tabpanel">
    <div id="project-captions-region">
      <hr />
      <div class="float-right">
        <button class="btn btn-primary load-captions-from-project-tags-btn"><i class="fa fa-tag"></i> Add Project Tags</button>
        <button class="btn btn-success save-project-captions-btn"><i class="fa fa-disk"></i> Save</button>
      </div>
      <h5>Video Captions</h5>
      <div class="clearfix"></div>
      <div class="row justify-content-center">
        <div class="col-12">
          <div id="project-captions-container">
            <div id="project-captions-list">
              <project-caption-edit
                    v-for="caption in captions_list"
                    v-on:remove-caption="removeOption(caption.id)"
                    v-on:change-timestamp:timestamp="updateTimestamp(caption, $event)"
                    v-on:change-text:text="updateTimestamp(caption, $event)"
                    v-bind:key="caption.id"
                    v-bind="caption"></project-caption-edit>
            </div>
            <button class="btn btn-primary add-caption-btn" style="margin-top:1rem">
              <i class="fa fa-plus"></i> Add Caption
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>

      <div class="col-1">
        <!-- Nav sidebar (desktop) -->
        <ul class="project-nav-sidebar nav flex-column d-none d-md-block" id="project-nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#project-details-pane" data-toggle="tab" role="tab">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#project-settings-pane" data-toggle="tab" role="tab">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#project-captions-pane" data-toggle="tab" role="tab">Captions</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'project-avatars' project.id %}">Avatars <i class="fa fa-external-link"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'project-builds' project.id %}">Builds <i class="fa fa-external-link"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.container -->

  {% endwith %}
  <hr />
  <br />
{% endblock %}

{% block page_js %}
  {% verbatim %}
  <script type="text/javascript">
    // Save settings
    // NOTE: Background Audio saved separately
    $('body').on('click', '.save-project-settings-btn', function(e) {
        let video_size = $('#project-video-size').val();
        let gource_options = {};
        $('.gource-option-container').each(function(idx, e) {
            let $input = $(e).find('input');
            if ($input.length > 0 && $input.attr('name')) {
                gource_options[$input.attr('name')] = $input.val();
            }
        });

        let post_data = {
            'video_size': video_size,
            'gource_options': gource_options
        };
        $('.save-project-settings-btn').attr({disabled: true});
        $.ajax({
            url: "/projects/"+PROJECT_ID+"/edit/",
            method: 'POST',
            data: JSON.stringify(post_data),
            contentType: "application/json",
            dataType: "json",
            beforeSend: function(xhr) {
                // Attach CSRF Token
                xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
            },
            success: function(data, textStatus, xhr) {
                // TODO show success message
                console.log("Options saved successfully.");
                $('.save-project-settings-btn').attr({disabled: false})
                                               .prepend('<i class="fa fa-check"></i>');
            },
            error: function(xhr, textStatus, err) {
                // Error
                console.log("Save error: "+err, xhr);
                $('.save-project-settings-btn').attr({disabled: false})
                                               .prepend('<i class="fa fa-times"></i>');
            },
            complete: function(xhr, textStatus) {
                setTimeout(function() {
                    $('.save-project-settings-btn').attr({disabled: false})
                                                   .find('.fa').remove();
                }, 1500);
            }
        });
    });

    $('body').on('click', '.remix-audio-btn', function() {
        let post_data = {
            'action': 'remix_audio',
        };
        $('.remix-audio-btn').attr({disabled: true})
                             .prepend('<i class="fa fa-spin fa-spinner"></i> ');
        $.ajax({
            url: "/projects/"+PROJECT_ID+"/actions/",
            method: 'POST',
            data: JSON.stringify(post_data),
            contentType: "application/json",
            dataType: "json",
            beforeSend: function(xhr) {
                // Attach CSRF Token
                xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
            },
            success: function(data, textStatus, xhr) {
                // TODO show success message
                console.log("Options saved successfully.");
                $('.remix-audio-btn').attr({disabled: false}).find('.fa').remove();
                $('.remix-audio-btn').prepend('<i class="fa fa-check"></i>');
            },
            error: function(xhr, textStatus, err) {
                // Error
                console.log("Save error: "+err, xhr);
                $('.remix-audio-btn').attr({disabled: false}).find('.fa').remove();
                $('.remix-audio-btn').prepend('<i class="fa fa-times"></i>');
            },
            complete: function(xhr, textStatus) {
                setTimeout(function() {
                    $('.remix-audio-btn').attr({disabled: false})
                                         .find('.fa').remove();
                }, 1500);
            }
        });

    });

    // Gource settings container
    let settings_container = new Vue({
        el: '#gource-settings-region',
        data: {
            options_selected: [],
            options_available: [],
        },
        methods: {
            loadAvailable: function(available_list) {
                console.log('loadAvailable: ',available_list);
                _.each(available_list, function(item) {
                    this.options_available.push(item);
                }, this);
            },
            addOption: function(name, value, skip_duration) {
                console.log('addOption', name, value, skip_duration);
                let new_option = _.findWhere(this.options_available, {name: name});
                if (!new_option) {
                    console.log("Invalid option: "+name);
                    return;
                }
                // Set value (if provided)
                if (!_.isUndefined(value) && !_.isNull(value)) {
                    new_option.value = value;
                } else if (new_option.hasOwnProperty('default')) {
                    console.log(' - setting default');
                    new_option.value = new_option.default;
                } else {
                    new_option.value = "";
                }
                console.log('new_option = ',new_option);
                // Add to selected list
                this.options_selected.push(new_option);
                // Remove from available list
                this.options_available = _.filter(this.options_available, function(item) { return item.name != name; });
                if (!skip_duration) {
                    refreshGourceDuration(new_option.name);
                }
            },
            removeOption: function(name, skip_duration) {
                console.log('removeOption', name, skip_duration);
                let target_option = _.findWhere(this.options_selected, {name: name});
                if (!target_option) {
                    console.log("Invalid option: "+name);
                    return;
                }
                // Remove 'value' property
                delete target_option.value;

                // Remove from selected list
                this.options_selected = _.filter(this.options_selected, function(item) { return item.name != name; });
                // Re-add to available list
                this.options_available.push(target_option);
                // Re-sort according to initial display 'index'
                this.options_available = _.sortBy(this.options_available, 'index');
                if (!skip_duration) {
                    refreshGourceDuration(target_option.name);
                }
            },
            updateValue: function(option, value) {
                option.value = value;
                refreshGourceDuration(option.name);
            },
        },
    });

    // Recalculate estimated video duration based on entered settings
    function refreshGourceDuration(changed_field) {
        let VALID_FIELDS = ["seconds-per-day", "auto-skip-seconds"];
        if (!_.isUndefined(changed_field)) {
            if (!VALID_FIELDS.includes(changed_field)) {
                //console.log("Unaffected field changed.  Skipping...");
                return;
            }
        }
        let gource_options = {};
        _.each(settings_container.options_selected, function(item) {
            if (VALID_FIELDS.includes(item.name)) {
                gource_options[item.name] = item.value;
            }
        }, this);
        console.log(' ==> ',gource_options);

        $.ajax({
            url: "/test/"+PROJECT_ID+"/duration/",
            method: 'GET',
            data: gource_options,
            contentType: "application/json",
            success: function(data, textStatus, xhr) {
                // TODO show success message
                console.log("Duration response: ",data);
                $('#gource-duration-estimate').text(data.duration_str);
            },
            error: function(xhr, textStatus, err) {
                // Error
                console.log("Duration error: "+err, xhr);
                $('#gource-duration-estimate').text('-');
            }
        });
    }

    // ---- OPTIONS
    // ---------------------------------------

    Vue.component('gource-option-edit', {
        props: {
            'name': String,
            'label': String,
            'value': [String, Number],
            'placeholder': String,
            'description': String
        },
        template: `
          <div class="form-group form-inline gource-option-container" style="display:flex; width:100%;">
            <div :title="name" style="width:130px; font-size:12px; line-height:32px; text-align:right; padding-right:8px">
              <b>{{ label }}:</b>
            </div>
            <div style="flex:1">
              <input class="form-control form-control-sm" :name="name" type="text" :value="value" v-on:input="$emit('input:value', $event.target.value)" v-on:change="$emit('change:value', $event.target.value)" :placeholder="placeholder" style="width:200px" />
              <span class="gource-option-remove text-danger" v-on:click="$emit('remove-gource-option')" style="padding-left:12px; cursor:pointer;"><i class="fa fa-times"></i></span>
            </div>
          </div>
        `
    });
    Vue.component('gource-option-select', {
        props: {
            name: String,
            label: String,
            default: [String, Number],
            placeholder: String,
            description: String
        },
        template: '<option :value="name">{{ label }}</option>'
    });

    $('body').on('click', '#add-gource-option-btn', function(e) {
        let $selector = $('#gource-new-option-selector');
        if ($selector.length === 0 || $selector.val() == "") { return false; }
        let $option = $selector.find('option:selected');
        if ($option.length === 0) { return false; }

        // Pluck from <select> and add to section
        settings_container.addOption($option.val());
//        refreshGourceDuration();
    });

//    $('body').on('change', '.gource-option-container input.form-control', function(e) {
//        console.log('value change', e);
//        refreshGourceDuration();
//    });

    $('body').on('click', '.edit-audio-file', function(e) {
        $(e.currentTarget).hide();
        $('#project_build_audio_file_form').show();
    });

    // ---- CAPTIONS
    // ---------------------------------------

    // Project captions container
    let captions_container = new Vue({
        el: '#project-captions-region',
        data: {
            captions_list: [],
        },
        methods: {
            addOption: function(id, timestamp, text) {
                console.log('addOption', id, timestamp, text);
                // Add to selected list
                this.captions_list.push({
                    id: id,
                    timestamp: timestamp,
                    text: text
                });
            },
            removeOption: function(id) {
                console.log('removeOption', id);
                let target_caption = _.findWhere(this.captions_list, {id: id});
                if (!target_caption) {
                    console.log("Invalid caption: "+id);
                    return;
                }
                // Remove from selected list
                this.captions_list = _.filter(this.captions_list, function(item) { return item.id != id; });
            },
            updateTimestamp: function(caption, timestamp) {
                caption.timestamp = timestamp;
            },
            updateText: function(caption, text) {
                caption.text = text;
            },
        },
    });

    Vue.component('project-caption-edit', {
        props: {
            'id': [String, Number],
            'timestamp': String,
            'text': String,
        },
        mounted: function() {
            $(this.$el.querySelector('.gource-caption-datetimepicker')).datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
            });
        },
        template: `
          <div class="form-group form-inline gource-caption-container" style="display:flex; width:100%;">
            <input type="text" class="form-control form-control-sm gource-caption-datetimepicker" style="width:150px; font-size:12px; line-height:32px;" placeholder="YYYY-MM-DD HH:mm:ss" :value="timestamp" v-on:input="$emit('input:timestamp', $event.target.value)" v-on:change="$emit('change:timestamp', $event.target.value)" />
            <input type="text" class="form-control form-control-sm gource-caption-text" style="width:400px; font-size:12px; line-height:32px;" placeholder="Message" :value="text" v-on:input="$emit('input:text', $event.target.value)" v-on:change="$emit('change:text', $event.target.value)" />
            <span class="project-caption-remove text-danger" v-on:click="$emit('remove-caption')" style="padding-left:12px; cursor:pointer;"><i class="fa fa-times"></i></span>
          </div>
        `
    });

    $('body').on('click', '.load-captions-from-project-tags-btn', function(e) {
        var post_data = {
            'action': 'load_captions_from_tags',
        };
        $('.load-captions-from-project-tags-btn').attr({disabled: true})
                             .find('i.fa').removeClass('fa-tag fa-times fa-check')
                                          .addClass('fa-spinner fa-spin');
        $.ajax({
            url: "/projects/"+PROJECT_ID+"/actions/",
            method: 'POST',
            data: JSON.stringify(post_data),
            contentType: "application/json",
            dataType: "json",
            beforeSend: function(xhr) {
                // Attach CSRF Token
                xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
            },
            success: function(data, textStatus, xhr) {
                $('.load-captions-from-project-tags-btn').attr({disabled: false})
                                     .find('i.fa').removeClass('fa-tag fa-times fa-check fa-spinner fa-spin')
                                                  .addClass('fa-check');
                // TODO show success message
                window.location.reload();
            },
            error: function(xhr, textStatus, err) {
                // Error
                $('.load-captions-from-project-tags-btn').attr({disabled: false})
                                     .find('i.fa').removeClass('fa-tag fa-times fa-check fa-spinner fa-spin')
                                                  .addClass('fa-times');
            }
        });
    });

    // Save captions
    $('body').on('click', '.save-project-captions-btn', function(e) {
        let captions_list = [];
        let error_captions = [];
        $('#project-captions-list .gource-caption-container').each(function(idx, container) {
            let caption_dt = $(container).find('.gource-caption-datetimepicker').val();
            //let caption_dt = $(container).find('.gource-caption-datetimepicker').data('DateTimePicker').viewDate();
            let caption_text = $(container).find('.gource-caption-text').val();
            if (!caption_dt && !caption_text) {
                return;     // Skip completely empty
            } else if (!caption_dt || !caption_text) {
                // Mark error
                error_captions.push(container);
                return;
            }
            captions_list.push({
                timestamp: caption_dt,
                text: caption_text
            });
        });
        if (error_captions.length > 0) {
            _.each(error_captions, function(container) {
                $(container).addClass('form-error');
            });
            return;
        }
        var post_data = {
            captions: captions_list
        };
        $('.save-project-captions-btn').attr({disabled: true})
                             .find('i.fa').removeClass('fa-tag fa-times fa-check')
                                          .addClass('fa-spinner fa-spin');
        $.ajax({
            url: "/projects/"+PROJECT_ID+"/edit/",
            method: 'POST',
            data: JSON.stringify(post_data),
            contentType: "application/json",
            dataType: "json",
            beforeSend: function(xhr) {
                // Attach CSRF Token
                xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
            },
            success: function(data, textStatus, xhr) {
                $('.save-project-captions-btn').attr({disabled: false})
                                 .find('i.fa').removeClass('fa-tag fa-times fa-check fa-spinner fa-spin')
                                              .addClass('fa-check');
                // TODO show success message
            },
            error: function(xhr, textStatus, err) {
                // Error
                $('.save-project-captions-btn').attr({disabled: false})
                                 .find('i.fa').removeClass('fa-tag fa-times fa-check fa-spinner fa-spin')
                                              .addClass('fa-times');
            }
        });
    });


    let gource_caption_template = _.template(''
      +'<div class="form-group gource-caption-container" style="display:flex; width:100%;">'
      +  '<input type="text" class="form-control form-control-sm gource-caption-datetimepicker" style="width:150px; font-size:12px; line-height:32px;" placeholder="YYYY-MM-DD HH:mm:ss" value="<%- caption_timestamp %>" />'
      +  '<input type="text" class="form-control form-control-sm gource-caption-text" style="width:400px; font-size:12px; line-height:32px;" placeholder="Message" value="<%- caption_text %>" />'
      +'</div>');

    $('body').on('click', '.add-caption-btn', function(e) {
        captions_container.addOption('tmp-'+_.random(0, 999999));
        /*
        let $dtpicker = $(gource_caption_template({
            caption_timestamp: "",
            caption_text: "",
        }));
        $('#project-captions-list').append($dtpicker);
        $dtpicker.find('.gource-caption-datetimepicker').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
        });*/
    });
  </script>
  {% endverbatim %}
  <script type="text/javascript">
    let PROJECT_ID = {{ project.id }};
    let IS_LATEST_BUILD = {{ is_latest_build|lower }};
    $(document).ready(function() {
        // Load all available build options for Gource
        let gource_options = [{% for gource_opt in gource_options_json %}
            {{ gource_opt|safe }},{% endfor %}
        ];
        // Apply 'index' property to each item to retain order for later sorts
        _.each(gource_options, function(item, idx) {
            item.index = idx;
        }, this);

        // Load current build options
        let init_gource_options = [{% for option_json in project_options_json %}
            {{ option_json|safe }},{% endfor %}
        ];
        settings_container.loadAvailable(gource_options);

        _.each(init_gource_options, function(item) {
            console.log("Initial setting: ", item);
            settings_container.addOption(item.name, item.value, true);
        });
        refreshGourceDuration();

        let init_project_captions = [{% for caption_json in project_captions_json %}
            {{ caption_json|safe }},{% endfor %}
        ];

        _.each(init_project_captions, function(item) {
            //console.log(item);
            let moment_timestamp = moment(item.timestamp);
            item.timestamp = moment_timestamp.format('YYYY-MM-DD HH:mm:ss');
            captions_container.captions_list.push(item);
            return;
            /*
            let $selector = $('#project-captions-list');
            let moment_timestamp = moment(item.timestamp);
            let $dtpicker = $(gource_caption_template({
                caption_timestamp: moment_timestamp.format('YYYY-MM-DD HH:mm:ss'),
                caption_text: item.text,
            }));
            $selector.append($dtpicker);
            $dtpicker.find('.gource-caption-datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
            });
            */
        });

        if (!IS_LATEST_BUILD) {
            // Remove selectable options
            let $selector = $('#project-gource-options-container');
            $selector.remove();
        }
    });
  </script>
{% endblock %}
