#TIME_ZONE = "America/New_York"
#CELERY_TIMEZONE = "America/New_York"

# Whitelist of web domains that projects can be pulled from
PROJECT_DOMAINS = [
    'bitbucket.org',
    'github.com',
    'gitlab.com',
]

ALLOWED_HOSTS = ['*']

# SQLite (default)
#DATABASES = {
#    'default': {
#        'ENGINE': 'django.db.backends.sqlite3',
#        'NAME': BASE_DIR / 'app.db',
#    }
#}
# PostgreSQL example
#DATABASES = {
#    'default': {
#        'ENGINE': 'django.db.backends.postgresql',
#        'NAME': 'gource_studio',
#        'USER': 'your_username',
#        'PASSWORD': 'your_password',
#        'HOST': '127.0.0.1',
#        'PORT': 5432,
#    }
#}

DEBUG = True

#if DEBUG:
#    INTERNAL_IPS = ["127.0.0.1"]
#    INSTALLED_APPS += ['debug_toolbar']
#    MIDDLEWARE += ['debug_toolbar.middleware.DebugToolbarMiddleware']

# Enable using headless X11 buffer
#USE_XVFB = True
# Custom path to `xvfb-run` program
#XVFB_RUN_PATH = None
